@import "core/variables";
@import "core/mixins";
@import "core/reset";
@import "core/functions";


.App {
  text-align: center;
  padding: 20px;
  color: $color-light;
}


.headerLogo {
  height: 75px;
  @include tablet {
    height: 202px;

  }
}

.headerLogo__container {
  display: flex;
  justify-content: center;
}