@import "core/variables";
@import "core/mixins";
@import "core/functions";

.character__card {
  &__container {
    margin: 20px;
    width: 180px;
    background-color: $color-blue;
    border: 3px solid $color-blue;
    box-shadow: 3px 5px $color-dark-blue;
  }
  &__container:hover {
    border-color: $color-green;
    color: $color-dark;
    background-color: $color-green;
    box-shadow: 3px 5px $color-dark-green;
  }

  &__link {
      text-decoration: none;
      font-family: inherit;
      color: inherit;
  }
}
