.characterList {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.errorText {
  color: lightgreen;
  padding: 5px 10px;
  font-size: 40px;
  background-color: rgba(77, 167, 170, 0.7);
  .word {
    color: black;
  }
}