@import "core/variables";
@import "core/mixins";
@import "core/functions";


.detail__container {
  display: flex;
  justify-content: center;
}
.character__detail {
  background-color: $color-dark-blue;
  border: 3px solid $color-green;
  border-radius: 20px;
  width: 700px;
  padding: 20px;
  position: relative;
  font-size: rem(20);
  @include tablet {
    font-size: rem(24);
  }
  .return_btn {
    border: 2px solid $color-green;
    padding: 5px;
    border-radius: 20px;
  }
  .return_btn:hover {
    background-color: $color-blue;
    color: $color-light;
    border: 2px solid $color-blue;

  }
  .return_btn_container {
    position: absolute;
    padding: 5px;
    margin: 15px;
    top: 0;
    right: -15px;
    @include tablet {
      right: 20px;
    }
  }
  &__icon {
    transform: translate(10px, 10px);
  }
}

.detail_data {
  padding: 5px;
}

.fa-times {
  color: $color-dark;
}


.images_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  @include tablet {
    gap: 104px;
  }
  .rocket_left {
    transform: rotate(225deg);
    height: 40px;
    @include tablet {
      height: 60px;
    }
  }
  .rocket_right {
    transform: rotate(45deg);
    height: 40px;
    @include tablet {
      height: 60px;
    }
  }
}

.return_link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.hidden {
  display: none;
}