@import "core/variables";
@import "core/mixins";
@import "core/functions";

.errorText {
  color: $color-green;
  padding: 5px 10px;
  font-size: rem(40);
  background-color: $color-dark-blue;
  display: inline-block;
  &__word {
    color: $color-dark;
  }
}
.return_btn {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

