@import "core/variables";
@import "core/mixins";
@import "core/functions";

.character__form {
  font-size: rem(20);
  &__text {
    background-color: $color-dark;
    color: $color-green;
    padding: 5px 10px;
    border-color: $color-green;
    margin-right: 5px;
  }
  &__fields {
    font-size: rem(20);
    margin-right: 5px;
  }
  &__reset_btn {
    font-size: rem(20);
    padding: 4px;
    background-color: $color-green;
  }
}

