* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: block;
  text-decoration: none;
}

body {
  // background-color: black;
  background-image: url('https://cdn.hipwallpaper.com/i/92/33/q2LRKO.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}