//FONTS
$main-font: 'Patrick Hand SC', cursive;

//COLORS
$color-blue: rgb(77, 167, 170);
$color-dark-blue: rgba(77, 167, 170, 0.7);
$color-green: rgb(145, 238, 145);
$color-dark-green: rgb(75, 119, 75);

$color-dark: black;
$color-light: white;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;


//FONT-SIZE
$defaultFontSize: 16;
